.Item {
	width: 15vw;
	height: 18vw;
	border: 0.3vw solid gray;
	margin: 3vw;
}

.Item:hover {
	cursor: pointer;
}

.Item_img {
	width: 9vw;
}

.Item_name {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 2vw;
	margin-bottom: 1vw;
	margin-top: 0vw;
}

.Type_wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 0.5vw;
	padding-left: 0.5vw;
}


@media screen and (max-width: 768px) {
	.Item {
		width: 50vw;
		height: 58vw;
		border: 0.3vw solid gray;
		margin: 3vw;
	}

	.Item_img {
		width: 33vw;
	}

	.Item_name {
		font-size: 6vw;
		margin-bottom: 3vw;
	}
}

